.launching {
    background-color:rgb(234, 245, 243) ;
    
    margin-top: -20vh;
    
    &_heading{
        
        text-align: center;
        padding-top: 30vh;
        display: block;
        & h1{
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            display: inline-block;
           @include shade;
            font-size: 5rem;
            transition: all .2s;
            letter-spacing: .2rem;
            &:hover{
                transform:  scale(1.1) skewY(2deg) skewX(15deg);
            }
        
        }
    
    
    }
    
}
.composition{
    position: relative;
    
    &_photo{
        width: 55%;
        box-shadow: 0  1.5rem 4rem rgba(0, 0, 0, 0.384);
        position: absolute;
        z-index: 1;
        outline-offset: 2rem;
        &-1{
            left: 3.5rem;
            top:8rem;
        }
        &-2{
            right: 2rem;
            top:6rem;

        }
        &-3{
            left: 20%;
            top:17rem;

        }
        &:hover{
            outline: 1.5rem solid rgba(0, 162, 255, 0.37);
            transform: scale(1.1);
            z-index: 200;
        
        }
        
    }
    &:hover &_photo:not(:hover){
        transform: scale(.95);
    }
}
.launchinghead{
    font-size: 300%;
    color: rgb(173, 170, 170);
    padding-top: 3rem;
}
.launchingpara{
    font-size: 1.6rem;
}