$grid-width: 114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;
@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}
@mixin shade { background-image: linear-gradient(to right, rgba($color-primary, 0.801),rgba($color-primary-light, 0.781));
    -webkit-background-clip: text;
    color:transparent;
    
}
$color-primary:rgb(0, 195, 255);
$color-primary-light:rgb(0, 255, 221);
$color-primary-dark:rgb(0, 140, 255);
