.most{
    background-color: rgb(238, 241, 241);
    padding-bottom: 25rem;
 
    padding-top: 15rem;

    z-index: 1;
   
    &-card{
        width: 80%;
        
        margin: 0 auto;
        background-color: rgba(177, 238, 233, 0.719);
        transform: skewx(-8deg);
        & > *{
            transform: skewX(8deg);
        }
        
    }
    &-head{
        
        text-align: center;
        padding-bottom: 5rem;
        display: block;
         h1{
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            display: inline-block;
           @include shade;
            font-size: 6rem;
            transition: all .2s;
            letter-spacing: .2rem;
            &:hover{
                transform:  scale(1.1) skewY(2deg) skewX(15deg);

            }
        
        }
    
    
    }
    
}
.circle{
    position: relative;
    margin: auto auto;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    float: left;
    
    overflow: hidden;
    &-image{

      height:  100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%) skewX(8deg);
      transition: all .5s;
    }
    &-caption{
        color: white;
        position: absolute;
        opacity: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      font-size: 4rem;
      text-align: center;
      transition: all 1.2s;
    }
    &:hover{
        transform: scale(1.2);
        
        z-index: 1000;
        
        
 
    }
    &-small{
        height: 8rem;
        width: 8rem;
        float: left;
        margin: 1rem;
        &:hover{
            transform: none !important;
        }
    }
    &-small:hover &-caption{
        font-size: 2rem;
    }
    &-small:hover &-image{
        opacity: .4;
    }
    &:hover &-caption{
        opacity: 1;
    }

}
